footer {
    .note {
        padding: 25px 10px;
        margin: 40vh 0 0;
        @include e(code){
            display: block;
            font-size: map-get($font-sizes, sm);
            font-weight: map-get($font-weights, regular);
            margin: 3em auto;
        }
        @include e(gpImage) {
            width: 200px;
            filter: grayscale(1);
            margin: px-to-em(20px) auto;
        }
    }
}