footer {
    vertical-align: bottom;
    @include layout-margin(0, 0);
    .note {
        vertical-align: bottom;
        box-sizing: border-box;
        @include layout-margin(40vh, 0);
        padding: 25px 10px;
        @include e(gpImage) {
            width: 150px;
            filter: grayscale(1);
            margin: px-to-em(20px) auto;
        }
    }
}