/**************************************************
********** MAIN
***************************************************/


.main {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
}