/**************************************************
********** NAV
***************************************************/


.nav {
    margin: px-to-em(300px) 0 px-to-em(250px);

    @include e(title) {
        user-select: none;
        font-size: map-get($font-sizes, "xl");
        transform: rotate(-90deg);
        display: inline-block;
        width: 60vw;
        letter-spacing: 2px;
        font-size: map-get($font-sizes, "xl");
        text-align: left;

        @media (min-width: map-get($brk, "md")) {
            font-size: map-get($font-sizes, "xxl");
        }

        @include before {
            content: "";
            background-color: #000;
            display: block;
            height: 10px;
            width: 70px;
        }
    }
}