/**************************************************
********** NAV
***************************************************/


header {
    @include layout-margin(0, 0) {
        vertical-align: top;
    }
}

.nav {
    @include layout-margin(px-to-em(200px), px-to-em(200px));

    @include e(title) {
        user-select: none;
        font-size: map-get($font-sizes, "xl");
        @media(max-width: map-get($brk, lg)) {
            transform: rotate(-90deg);
        }
        display: inline-block;
        width: 50vw;
        letter-spacing: 2px;
        font-size: map-get($font-sizes, "xl");
        text-align: left;

        @media (min-width: map-get($brk, "md")) {
            font-size: map-get($font-sizes, "xxl");
        }

        @include before {
            content: "Jakob / Jonas / Justus / Hakim";
            white-space: nowrap;
            font-size: map-get($font-sizes, xs);
            font-family: monospace;
            display: block;
            color: #444;

            @media(min-width: map-get($brk, lg)) {
                font-size: map-get($font-sizes, sm);
            }
        }
    }
}