/**************************************************
********** ARTICLE
***************************************************/


.article {
    margin: 50vh 0;
    padding: px-to-em(10px);
    width: 100vw;
    position: relative;

    @include e(body) {
        position: relative;

        @include e(title) {
            position: relative;
            font-size: map-get($font-sizes, "lg");
            position: relative;
            font-weight: map-get($font-weights, "light");
        }
        
        @include e(text) {
            padding: px-to-em(5px);
            font-weight: map-get($font-weights, "regular");
            margin: px-to-em(10px);
        }

        @include e(callout) {
        }
    }


    @include e(backmesh) {
        z-index: -2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $article-bg-color;
    }

    
}