/**************************************************
********** PARTICLE
***************************************************/

.particle {
    position: relative;
    z-index: -10;

    @each $name, $size in $particle-sizes {
        @include m($name) {
            transform: scale($size);
        }
    }

    @each $name, $color in $colors {
        @include m($name) {
            fill: $color;
            color: $color;
        }
    }
}