/**************************************************
********** FONTS
***************************************************/


@font-face {
    font-family: "Wavehaus";
    src:
        url("../../fonts/Wavehaus/Wavehaus-158ExtraBold.otf") format("otf"),
        url("../../fonts/Wavehaus/wavehaus-158Extrabold.woff2") format("woff");
    font-weight: 900;
    font-style: regular;
}

@font-face {
    font-family: "Helvetica Now";
    src: url("../../fonts/HelveticaNow/HelveticaNowDisplayXBlk.otf") format("otf");
    font-weight: 900;
    font-style: regular;
}

@font-face {
    font-family: "Crete Round";
    src: 
        url("../../fonts/CreteRound/CreteRound-Regular.ttf") format("truetype"),
        url("../../fonts/CreteRound/CreteRound-Regular.woff") format("woff");
    font-style: regular;
}

@font-face {
    font-family: "Crete Round";
    src: 
        url("../../fonts/CreteRound/CreteRound-Italic.ttf") format("truetype");
    font-style: italic;
}