/**************************************************
********** FONTS
***************************************************/


@font-face {
    font-family: "Wavehaus";
    src: url("../../fonts/Wavehaus/Wavehaus-158ExtraBold.otf") format("otf");
    font-weight: 900;
    font-style: regular;
}

@font-face {
    font-family: "Helvetica Now";
    src: url("../../fonts/HelveticaNow/HelveticaNowDisplayXBlk.otf") format("otf");
    font-weight: 900;
    font-style: regular;
}

@font-face {
    font-family: "Crete Round";
    src: url("../../fonts/CreteRound/CreteRound-Regular.ttf") format("ttf");
    font-style: regular;
}

@font-face {
    font-family: "Crete Round";
    src: url("../../fonts/CreteRound/CreteRound-Italic.ttf") format("ttf");
    font-style: italic;
}